<meta charset="UTF-8">
<title>The Bookstore</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<style>
    body {
      font-family: montserrat;
    }
</style>