<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <h1 id="Bookh1">Shopping cart
    <hr>
  </h1>
  <div class="icon-container">
    <i class="fa-solid fa-cart-shopping"></i>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="https://kit.fontawesome.com/a8cfb27db5.js" crossorigin="anonymous"></script>
</body>
</html>